{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="./docs/1-about-roadrunner/로드러너에-대하여/" role="button">Docs</a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "Korean" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-12">
          <h2 class="h3">Roadrunner란</h2>
          <div class="row justify-content-center text-center">
            <p class="col-lg-11">
              Roadrunner는 FTC 로봇 대회를 위해 작성된 모션 플래닝 라이브러리입니다.
              로봇의 속도와 가속도를 조절함으로써 로봇이 복잡한 경로를 따라 주행할 수 있도록 도와주는 역할을 수행함으로써,
              Autonomous Period에서 높은 점수를 얻기 위해 필수적으로 사용해야하는 툴입니다.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <h2 class="h5">편리한 보정</h2>
          <p>FTC Dashboard를 활용해 파라미터를 간단하게 바꾸어 보정 작업을 수행할 수 있습니다.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h5">정확한 자율주행</h2>
          <p>FTC Roadrunner를 사용하면 오도메트리와 IMU 모듈, 그리고 웹캠 비전을 활용한 정확한 자율 주행을 구현할 수 있습니다.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h5">손쉬운 경로 설정</h2>
          <p>FTC Roadrunner의 체계화된 코드와 Meep Map을 활용한 시각화로 경로를 쉽고 빠르게 정할 수 있습니다.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-3">
      이 페이지는 <a href="https://talosftc.com/">TALOS 25309</a> 에 의해 <br> 제작되었습니다.
      <br>
      <img src="favicon-512x512.png" alt="TALOS 25309" width="120" height="120" class="mt-2"/>
      <br>
      <small>Team TALOS는 한국과학영재학교 로봇 연구회 <br> KROS의 FTC 팀입니다.</small>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
